@media screen 
 and (max-device-width: 500px) 
 and (min-device-width: 0px)  {

    /* inicia codigo general para formato de archivo */
html{
    scroll-behavior: smooth;
}
body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
/* termina codigo general para formato de archivo */

/*inicia barra de navegacion*/
.logo{
    padding-top: 30px;
    padding-left: 50px;
    position: fixed;
}
.logo a img{
  width: 250px;
  height: 250px;
}
ul {
    font-family: Raleway;
    font-size: 45px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: red;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 150px 50px;
    text-decoration: none;
  }
/*termina barra de navegacion*/

  }