@media screen 
 and (max-device-width: 350px) 
 and (min-device-width: 0px)  {

/* inicia codigo general para formato de archivo */
html{
  scroll-behavior: smooth;
}
body{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
/* termina codigo general para formato de archivo */

/*inicia barra de navegacion*/
.logo a img{
  z-index: 1;
  padding-left: 75px;
  padding-top: 50px;
  width: 250px;
  height: 250px;
  position: fixed;
}
ul {
  display: inline-flexbox;
  z-index: 0;
  font-family: Raleway;
  font-size: 45px;
  text-transform: uppercase;
  position: fixed;
  display: inline-block;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: (to bottom, #5ca9fb 0% , #6372ff 100%);
}

li {
  float: right;
  padding-left: 35px;
  padding-right: 50px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 0px;
  padding-right: 0px;
  text-decoration: none;
}
/*termina barra de navegacion*/

/* inicia cuerpo del sitio*/

/* titulo */
.titulo img{
  margin-top: 250px;
  margin-bottom: -150px;
  width: 100%;
  height: 100%;
}
.titulo{
  font-family: Raleway;
  color: white;
  overflow-wrap: normal;
  text-align: center;
}
.titulo h1{
  margin-top: -550px;
  text-transform: uppercase;
  font-size: 150px;
}
.titulo p{
  margin-top: -75px;
  font-size: 35px;
}
/* finaliza titulo */

/* inicia contact */

/* termina contact */
}




































@media screen 
 and (max-device-width: 1200px) 
 and (min-device-width: 350px)  {

    /* inicia codigo general para formato de archivo */
html{
    scroll-behavior: smooth;
}
body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
/* termina codigo general para formato de archivo */

/*inicia barra de navegacion*/
.logo a img{
    z-index: 1;
    padding-left: 75px;
    padding-top: 50px;
    width: 250px;
    height: 250px;
    position: fixed;
}
ul {
    display: inline-flexbox;
    z-index: 0;
    font-family: Raleway;
    font-size: 45px;
    text-transform: uppercase;
    position: fixed;
    display: inline-block;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #5ca9fb 0% , #6372ff 100%);
  }
  
  li {
    float: right;
    padding-left: 100px;
    padding-right: 50px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
  }
/*termina barra de navegacion*/

/* inicia cuerpo del sitio*/

/* titulo */
.titulo img{
  margin-top: -100px;
  margin-bottom: -150px;
  width: 100%;
  height: 100%;
}
.titulo{
  font-family: Raleway;
  color: white;
  overflow-wrap: normal;
  text-align: center;
}
.titulo h1{
  margin-top: -550px;
  text-transform: uppercase;
  font-size: 150px;
}
.titulo p{
  margin-top: -75px;
  font-size: 35px;
}
/* finaliza titulo */

/* inicia contact */

/* termina contact */

  }