@media screen 
 and (max-device-width: 350px) 
 and (min-device-width: 0px)  {

/* background: linear-gradient(to right, #5ca9fb 0% , #6372ff 100%); */
/* inicia codigo general para formato de archivo */
html{
  scroll-behavior: smooth;
}
body{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
/* termina codigo general para formato de archivo */

/*inicia barra de navegacion*/
.logo a img{
  z-index: 1;
  padding-left: 5%;
  padding-top: 0.25%;
  width: 15vw;
  height: 15vw;
  position: fixed;
}
ul {
  display: inline-flexbox;
  z-index: 0;
  font-family: Raleway;
  font-size: 3.5vw;
  text-transform: uppercase;
  position: fixed;
  display: inline-block;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  overflow: hidden;
  background: (to bottom, #5ca9fb 0% , #6372ff 100%);
}

li {
  float: right;
  margin-left: -10%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
}
/*termina barra de navegacion*/

/* inicia cuerpo del sitio*/

/* titulo */
.titulo{
  font-family: Raleway;
  color: white;
  text-align: center;
  padding-bottom: 20%;
  }
.titulo img{
z-index: -1;
position: relative;
padding-top: 30%;
padding-bottom: 12.5%;
width: 100%;
height: 75vw;
background-color: #000000;
}
.titulo h1{
margin-top: -60%;
text-transform: uppercase;
font-size: 10vw;
}
.titulo p{
margin-top: -6.5%;
font-size: 2.5vw;
overflow-wrap: normal;
}
.titulo button{
z-index: 0;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
color: #fff;
background-color: #5ca9fb;
background-image: linear-gradient(to bottom, #5ca9fb 0%, #6372ff 100%);
padding: 3vw 8vw;
letter-spacing: 1px;
margin-top: 3.5%;
font-size: 3vw;
font-weight: 500;
border-radius: 5vw;
transition: all 0.5s linear;
border: 0;
}
.titulo button:hover{
cursor: pointer;
color: #fff;
background-image: none;
background-color: #6372ff;
}
/* finaliza titulo */

/* inicia mission */
.mission{
z-index: -1;
position: relative;
}

.mission h1{
text-transform: uppercase;
font-family: Raleway;
font-size: 4vw;
color: white;
text-align: center;
margin-top: 5%;
margin-bottom: -10%;
padding-top: 5%;
padding-bottom: 12.5%;
margin-bottom: 15%;
background: linear-gradient( to right, #67affc 0% , #5465ff 100%);
}
.mission p{
padding-right: 5%;
padding-left: 5%;
font-family: Raleway;
font-size: 2.25vw;
color: white;
text-align: center;
margin-top: -25%;
}
/* termina mission */

/*inicia projects*/
.projects{
font-family: Raleway;
z-index: -1;
margin-top: 4%;
padding-top: 17.5%;
padding-bottom: 16%;
background: linear-gradient(to bottom, #000000 0% , #3a3a3a 100%);
}
.projects h1{
text-transform: uppercase;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: -10.5%;
margin-bottom: 0;
text-align: center;
font-size: 10vw;
}

.projects .ninja .imagenNinja{
padding-left: 20%;
padding-top: 3.5%;
width: 60vw;
height: 60vw;
}
.projects .ninja .imagenAndroid{
padding-left: 32.5%;
padding-top: -0%;
width: 14vw;
height: 15vw;
}
.projects .ninja .imagenIOS{
padding-left: 2.75%;
padding-top: 0%;
width: 15vw;
height: 15vw;
}

.projects .ninja p{
color: white;
font-size: 3vw;
padding-left: 25%;
}

.projects .swerve .imagenSwerve{
margin-top: 20%;
margin-bottom: 11.75%;
padding-left: 23%;
width: 55vw;
height: 55vw;
}

.projects .swerve h1{
font-size: 8vw;
text-transform: uppercase;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-right: .8%;
margin-top: -9.5%;
}

.projects .swerve p{
color: white;
font-size: 4vw;
padding-left: 20%;
margin-top: 25px;
padding-bottom: 15.5%;
}

.projects h2{
text-transform: uppercase;
text-align: center;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 10vw;
margin-top: 0%;
padding-left: 0%;
}
/*termina projects*/

/* inicia contact */

.contact .imagenContact{
margin-top: -3%;
padding-left: 3%;
padding-top: 5%;
width: 35vw;
height: 35vw;
}
.contact{
font-family: Raleway;
padding-bottom: 5%;
}

.contact h1{
color: white;
text-transform: uppercase;
font-size: 4vw;
padding-left: 48.5%;
margin-top: -30%;
}
.contact p{
color: white;
font-size: 3vw;
padding-left: 54%;
margin-top: -1%;
}
.contact h2{
margin-top: -1%;
color: white;
font-size: 1.1vw;
padding-left: 40%;
}
.contact p2{
color: white;
font-size: 1vw;
padding-left: 45%;
}
.contact .imagenTwitter{
margin-top: 2.5%;
margin-left: 58%;
width: 6vw;
height: 6vw;
}

.contact .imagenFacebook{
margin-left: 2.5%;
width: 6vw;
height: 6vw;
}

.contact .imagenInstagram{
margin-left: 3.5%;
width: 6vw;
height: 6vw;
}

/* termina contact */

/* inicia footer */

.copyright{
  padding-top: .35%;
  padding-bottom: .35%;
  padding-left: 5%;
  font-family: Raleway;
  color: white;
  background-color: #6e7dff;
  font-size: 1vw;
}

/* termina footer */

/*termina cuerpo del sitio */
}




































@media screen 
 and (max-device-width: 1200px) 
 and (min-device-width: 350px)  {

    /* inicia codigo general para formato de archivo */
html{
  scroll-behavior: smooth;
}
body{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}
/* termina codigo general para formato de archivo */

/*inicia barra de navegacion*/
.logo a img{
  z-index: 1;
  padding-left: 5%;
  padding-top: 0.25%;
  width: 15vw;
  height: 15vw;
  position: fixed;
}
ul {
  display: inline-flexbox;
  z-index: 0;
  font-family: Raleway;
  font-size: 3.5vw;
  text-transform: uppercase;
  position: fixed;
  display: inline-block;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  overflow: hidden;
  background: (to bottom, #5ca9fb 0% , #6372ff 100%);
}

li {
  float: right;
  margin-left: -10%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-decoration: none;
}
/*termina barra de navegacion*/

/* inicia cuerpo del sitio*/

/* titulo */
.titulo{
  font-family: Raleway;
  color: white;
  text-align: center;
  padding-bottom: 20%;
  }
.titulo img{
z-index: -1;
position: relative;
padding-top: 30%;
padding-bottom: 12.5%;
width: 100%;
height: 75vw;
background-color: #000000;
}
.titulo h1{
margin-top: -60%;
text-transform: uppercase;
font-size: 10vw;
}
.titulo p{
margin-top: -6.5%;
font-size: 2.5vw;
overflow-wrap: normal;
}
.titulo button{
z-index: 0;
font-family: 'Raleway', sans-serif;
text-transform: uppercase;
color: #fff;
background-color: #5ca9fb;
background-image: linear-gradient(to bottom, #5ca9fb 0%, #6372ff 100%);
padding: 3vw 8vw;
letter-spacing: 1px;
margin-top: 3.5%;
font-size: 3vw;
font-weight: 500;
border-radius: 5vw;
transition: all 0.5s linear;
border: 0;
}
.titulo button:hover{
cursor: pointer;
color: #fff;
background-image: none;
background-color: #6372ff;
}
/* finaliza titulo */

/* inicia mission */
.mission{
z-index: -1;
position: relative;
}

.mission h1{
text-transform: uppercase;
font-family: Raleway;
font-size: 4vw;
color: white;
text-align: center;
margin-top: 5%;
margin-bottom: -10%;
padding-top: 5%;
padding-bottom: 12.5%;
margin-bottom: 15%;
background: linear-gradient( to right, #67affc 0% , #5465ff 100%);
}
.mission p{
padding-right: 5%;
padding-left: 5%;
font-family: Raleway;
font-size: 2.25vw;
color: white;
text-align: center;
margin-top: -25%;
}
/* termina mission */

/*inicia projects*/
.projects{
font-family: Raleway;
z-index: -1;
margin-top: 4%;
padding-top: 17.5%;
padding-bottom: 16%;
background: linear-gradient(to bottom, #000000 0% , #3a3a3a 100%);
}
.projects h1{
text-transform: uppercase;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-top: -10.5%;
margin-bottom: 0;
text-align: center;
font-size: 10vw;
}

.projects .ninja .imagenNinja{
padding-left: 20%;
padding-top: 3.5%;
width: 60vw;
height: 60vw;
}
.projects .ninja .imagenAndroid{
padding-left: 32.5%;
padding-top: -0%;
width: 14vw;
height: 15vw;
}
.projects .ninja .imagenIOS{
padding-left: 2.75%;
padding-top: 0%;
width: 15vw;
height: 15vw;
}

.projects .ninja p{
color: white;
font-size: 3vw;
padding-left: 25%;
}

.projects .swerve .imagenSwerve{
margin-top: 20%;
margin-bottom: 11.75%;
padding-left: 23%;
width: 55vw;
height: 55vw;
}

.projects .swerve h1{
font-size: 8vw;
text-transform: uppercase;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
padding-right: .8%;
margin-top: -9.5%;
}

.projects .swerve p{
color: white;
font-size: 4vw;
padding-left: 20%;
margin-top: 25px;
padding-bottom: 15.5%;
}

.projects h2{
text-transform: uppercase;
text-align: center;
background: -webkit-linear-gradient( #67affc 0% , #5465ff 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-size: 10vw;
margin-top: 0%;
padding-left: 0%;
}
/*termina projects*/

/* inicia contact */

.contact .imagenContact{
margin-top: -3%;
padding-left: 3%;
padding-top: 5%;
width: 35vw;
height: 35vw;
}
.contact{
font-family: Raleway;
padding-bottom: 5%;
}

.contact h1{
color: white;
text-transform: uppercase;
font-size: 4vw;
padding-left: 48.5%;
margin-top: -30%;
}
.contact p{
color: white;
font-size: 3vw;
padding-left: 54%;
margin-top: -1%;
}
.contact h2{
margin-top: -1%;
color: white;
font-size: 1.1vw;
padding-left: 40%;
}
.contact p2{
color: white;
font-size: 1vw;
padding-left: 45%;
}
.contact .imagenTwitter{
margin-top: 2.5%;
margin-left: 58%;
width: 6vw;
height: 6vw;
}

.contact .imagenFacebook{
margin-left: 2.5%;
width: 6vw;
height: 6vw;
}

.contact .imagenInstagram{
margin-left: 3.5%;
width: 6vw;
height: 6vw;
}

/* termina contact */

/* inicia footer */

.copyright{
  padding-top: .35%;
  padding-bottom: .35%;
  padding-left: 5%;
  font-family: Raleway;
  color: white;
  background-color: #6e7dff;
  font-size: 1vw;
}

/* termina footer */

/*termina cuerpo del sitio */

}